In [1]:
import pandas as pd

In [17]:
input = pd.read_csv('input.txt',header=None)

In [22]:
(input.diff().head()>0)

       0
0  False
1   True
2  False
3   True
4  False

In [25]:
(input.diff() > 0).sum()

0    1228
dtype: int64

# Part 2

In [ ]:
example = pd.DataFrame(dict(x=[199, 200, 208, 210, 200, 207
240
269
260
263]))