In [2]:
import pandas as pd
import numpy as np
import re

# import data

In [27]:
example = pd.read_csv('example.txt',header=None, sep=',', engine='python')
example['x2y1'] = example[1].apply(lambda x: re.split('\s+->\s+',x))
example['x1'] = example[0]
example['y1'] = example['x2y1'].apply(lambda x: int(x[0]))
example['x2'] = example['x2y1'].apply(lambda x: int(x[1]))
example['y2'] = example[2]
example.drop([0,1,2,'x2y1'], axis=1, inplace=True)
example.head()

   x1  y1  x2  y2
0   0   9   5   9
1   8   0   0   8
2   9   4   3   4
3   2   2   2   1
4   7   0   7   4

In [3]:
line_segments = pd.read_csv('input.txt',header=None, sep=',', engine='python')
line_segments['x2y1'] = line_segments[1].apply(lambda x: re.split('\s+->\s+',x))
line_segments['x1'] = line_segments[0]
line_segments['y1'] = line_segments['x2y1'].apply(lambda x: int(x[0]))
line_segments['x2'] = line_segments['x2y1'].apply(lambda x: int(x[1]))
line_segments['y2'] = line_segments[2]
line_segments.drop([0,1,2,'x2y1'], axis=1, inplace=True)
line_segments.head()

    x1   y1   x2   y2
0   88  177  566  655
1  346  264  872  264
2  409  631  506  534
3  300  216  300  507
4   80  370  193  483

In [4]:
xmin = line_segments[['x1', 'x2']].min().min()
xmax = line_segments[['x1', 'x2']].max().max()
ymin = line_segments[['y1', 'y2']].min().min()
ymax = line_segments[['y1', 'y2']].max().max()
((xmin, xmax),(ymin, ymax))

((10, 987), (11, 989))

In [5]:
initial_board = np.zeros((xmax, ymax))
initial_board

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

# Find number of lines crossing each point
loop over all lines and increase counter in board of the points the line crosses

In [62]:
row.y1

661

In [49]:
board_w_counters[row.x1:row.x2, row.y1:row.y2]

array([], shape=(0, 0), dtype=float64)

In [15]:
board_w_counters = initial_board.copy()
for idx, row in line_segments.iterrows():
    if (row.x1 != row.x2) and (row.y1 & row.y2):
        # skip diagonal lines
        continue
    else:
        board_w_counters[row.x1:row.x2+1, row.y1:row.y2+1] = board_w_counters[row.x1:row.x2+1, row.y1:row.y2+1] + 1
        break
(board_w_counters >= 2).sum(axis=None)

0

In [16]:
row

x1    300
y1    216
x2    300
y2    507
Name: 3, dtype: int64

In [22]:
board_w_counters[row.x1:row.x2+2, row.y1:row.y2+2]

array([], shape=(0, 989), dtype=float64)

In [24]:
xxx=np.zeros((3,2))
xxx

array([[0., 0.],
       [0., 0.],
       [0., 0.]])