In [1]:
import pandas as pd

In [2]:
input = pd.read_csv('input.txt',header=None)

In [3]:
(input.diff().head()>0)

       0
0  False
1   True
2  False
3   True
4  False

In [4]:
(input.diff() > 0).sum()

0    1228
dtype: int64

# Part 2

In [5]:
example = pd.DataFrame(dict(x=[199, 200, 208, 210, 200, 207, 240, 269, 260, 263]))

In [6]:
example.diff(3)

      x
0   NaN
1   NaN
2   NaN
3  11.0
4   0.0
5  -1.0
6  30.0
7  69.0
8  53.0
9  23.0

Example is correct

In [7]:
(input.diff(3).dropna() > 0).sum()

0    1257
dtype: int64