In [276]:
import pandas as pd
import numpy as np

In [301]:
input = pd.read_csv('input.txt',header=None,dtype=str)
input

                0
0    000100011010
1    110011110110
2    011000101111
3    001101100101
4    011100001000
..            ...
995  101100001110
996  101011100110
997  111001100001
998  111101011101
999  001100111110

[1000 rows x 1 columns]

# df input

In [302]:
example = pd.DataFrame(['00100',
'11110',
'10110',
'10111',
'10101',
'01111',
'00111',
'11100',
'10000',
'11001',
'00010',
'01010'])

In [303]:
def preprocessing(df):
    df['1st'] = df[0].apply(lambda x: int(x[0]))
    df['2nd'] = df[0].apply(lambda x: int(x[1]))
    df['3rd'] = df[0].apply(lambda x: int(x[2]))
    df['4th'] = df[0].apply(lambda x: int(x[3]))
    df['5th'] = df[0].apply(lambda x: int(x[4]))
    return df.drop(0, axis=1)
example = preprocessing(example)

## gamma rate

### most common

In [345]:
def get_most_common(df):
     one_is_most_common = df.sum(axis=0) >= df.count()/2
     decimal = one_is_most_common.copy()
     decimal = decimal * 0
     decimal[one_is_most_common] = 1
     return decimal
def get_least_common(df):
     one_is_least_common = df.sum(axis=0) < df.count()/2
     decimal = one_is_least_common.copy()
     decimal = decimal * 0
     decimal[one_is_least_common] = 1
     return decimal
common = get_most_common(example)
common

1st    1
2nd    0
3rd    1
4th    1
5th    0
dtype: int32

In [336]:
# decimal_num = int(str(common.values),2)
# decimal_num
def series_to_decimal(sr):
    return int(''.join(sr.apply(str).values),2)
def get_gamma(df):
    common = get_most_common(df)
    return series_to_decimal((common))
def get_epsilon(df):
    least_common = get_least_common((df))
    return series_to_decimal((least_common))
(get_gamma(example), get_epsilon(example))

(22, 9)

In [306]:
def get_power_consumption(df):
    return get_gamma(df) * get_epsilon(df)
get_power_consumption(example)

198

In [307]:
input.applymap(str).applymap(len)

      0
0    12
1    12
2    12
3    12
4    12
..   ..
995  12
996  12
997  12
998  12
999  12

[1000 rows x 1 columns]

In [308]:
input2 = input.applymap(str)
n_digits = input2[0].apply(str).apply(len)
# mapping = {'1st':0, '2nd':1, '3rd':2, '4th':3,'5th':4}
for digit_i in range(1,n_digits.max()):
    # print(digit_i)
    input2[digit_i] = input2.loc[n_digits>digit_i, 0].apply(lambda x: int(x[digit_i]))
input2[0] = input2[0].apply(lambda x: int(x[0]))

In [311]:
get_power_consumption(input2)

2595824

# Part B

In [347]:
input_b = input2.copy()
for col in input2.columns:
    common = get_most_common(input_b)[col]
    input_b = input_b[input_b[col]==common]
    input_b
    if input_b.count().max() ==1:
        break
series_to_decimal(input_b.iloc[0])

781

In [346]:
input_b = input2.copy()
for col in input2.columns:
    common = get_least_common(input_b)[col]
    input_b = input_b[input_b[col]==common]
    input_b
    if input_b.count().max() ==1:
        break
series_to_decimal(input_b.iloc[0])

2734

In [342]:
series_to_decimal(input_b.iloc[0]) * series_to_decimal(input_b.iloc[0])

array(['0', '0', '1', '1', '0', '0', '0', '0', '1', '1', '0', '0'],
      dtype=object)